:root {
    --app-form-gap: 1.75rem;
    --app-fieldset-input-padding: 0.25rem 0.6rem;
    --app-fieldset-input-border: solid 0.15rem;
    --app-fieldset-input-border-radius: 0px;
    --label-active-size: 0.85rem;
    --label-idle-size: 1.25rem;
}

input[type="checkbox"], select, input[type="radio"] {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
}


.app-form {
    display: flex;
    flex-direction: column;
    gap: var(--app-form-gap);
}

.form-fieldset {
    position: relative;
}

.form-fieldset .form-fieldset-input {
    display: block;
    padding: var(--app-fieldset-input-padding);
    border: none;
    border-bottom: var(--app-fieldset-input-border);
    border-color: $border-color;
    border-radius: $border-radius;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: $body-secondary-bg;
}

.form-fieldset .form-fieldset-input ~ label {
    display: block;
    pointer-events: none;
    cursor: pointer;
}