.header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    box-shadow: 10px 0px 5px #111;
    z-index: 10;
    backdrop-filter: blur(var(--backdrop-blur));
    height: var(--header-height);
    &.scrolled {
    transform: translateY(-2.780rem) !important;
    }
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 0.225rem;
    max-width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
}
