.header {
    position: fixed;
    width: 100vw;
    padding: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    box-shadow: 10px 0px 5px #111;
    z-index: 10;
    backdrop-filter: blur(var(--backdrop-blur));
    height: var(--header-height);
}
.progress-bar {
    position: absolute;
    width: 100%;
    height: 0.225rem;
    max-width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
}

@media only screen and (min-width: 768px) {
    .collapsable {
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;
        max-height: none;
        width: fit-content;
        height: fit-content;
    }
    .collapsable-nav {
        flex-direction: row;
        align-items: center;
        .links-li {
            .link span {
                display: none;
            }
        }
    }
    .dropdown-toggler {
        display: none;
    }
}
