.header {
    position: fixed;
    width: 100vw;
    padding: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    box-shadow: 10px 0px 5px #111;
    z-index: 10;
    backdrop-filter: blur(var(--backdrop-blur));
    height: var(--header-height);
}
.progress-bar {
    position: absolute;
    width: 100%;
    height: 0.225rem;
    max-width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
}
.logo {
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.4s;
    &:hover {
        @include themifyProp('color', 'linkHoverColorPrimary');
    }
    span {
        font-size: 0.8em;
        align-self: end;
        font-weight: 600;
    }
    img {
        width: 2em;
    }
    &.x {
        svg {
          path#dropdown-path-1 {
                d: path('M 100 450 L 400 100');
            }
            path#dropdown-path-2 {
                d: path('M 100 279.694 L 100 280.142');
            }
            path#dropdown-path-3 {
                d: path('M 100 100 L 400 450');
            }
        }  
    }
    svg {
        stroke-width: 3rem;
        path {
            transition: d 0.2s ease;
        }
        path#dropdown-path-1 {
            d: path('M 100.062 98.047 L 400 100');
        }
        path#dropdown-path-2 {
            d: path('M 99.269 246.379 L 400 250');
        }
        path#dropdown-path-3 {
            d: path('M 100.855 398.677 L 400 400');
        }
        &:hover {
        path#dropdown-path-1 {
            d: path('M 100 450 L 400 100');
        }
        path#dropdown-path-2 {
            d: path('M 100 279.694 L 100 280.142');
        }
        path#dropdown-path-3 {
            d: path('M 100 100 L 400 450');
        }
        }
    }
}

@media only screen and (min-width: 768px) {
    .collapsable {
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;
        max-height: none;
        width: fit-content;
        height: fit-content;
    }
    .collapsable-nav {
        flex-direction: row;
        align-items: center;
        .links-li {
            .link span {
                display: none;
            }
        }
    }
    .dropdown-toggler {
        display: none;
    }
}
