.header {
    position: fixed;
    width: 100vw;
    padding: 0;
    transform: translateY(0);
    transition: transform 0.2s ease;
    box-shadow: 10px 0px 5px #111;
    z-index: 10;
    backdrop-filter: blur(var(--backdrop-blur));
    height: var(--header-height);
}
.progress-bar {
    position: absolute;
    width: 100%;
    height: 0.225rem;
    max-width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
}
.logo {
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.4s;
    &:hover {
        @include themifyProp('color', 'linkHoverColorPrimary');
    }
    span {
        font-size: 0.8em;
        align-self: end;
        font-weight: 600;
    }
    img {
        width: 2em;
    }
}