//Fieldset
.input-wrap {
    position: relative;
    margin-top: 1.9rem;
    //Label
    label {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 1rem;
        color: $light3;
        transition: color 0.4s ease, font-size 0.4s ease, top 0.4s ease, left 0.4s ease;
    }
    //Input & Textarea
    input, textarea {
        width: 100%;
        height: 100%;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        background-color: transparent;
        color: inherit;
        border: none;
        border-bottom: solid 0.125rem;
        border-color: $light;
        transition: all 0.4s ease;
        &:not(:placeholder-shown),&:focus {
            outline: none;
            background-color: $dark3;
            border-color: $primary;
            & + label {
                top: -1rem;
                left: 0.5rem;
                font-size: 0.8rem;
                color: $primary;
            }
        }
    }
}




//Select input
.c-select-container {
    position: relative;
    font-size: 1rem;
    margin: 0 2rem;
}
.c-option {
    padding: 0.25em 0.45em;
    border: solid 0.125em;
}

//Checkbox input
.checkbox-wrapper {
  display: grid;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.1;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid currentColor 0.25rem;
  border-radius: $border-radius;
  &--disabled {
        cursor: default;
        color: $btn-link-disabled-color;
  }

}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: inherit;
  /* Not removed via appearance */
  margin: 0;
    display: grid;
    position: relative;
  place-content: center;
  font: inherit;
  color: currentColor;
    cursor: pointer;
  width: 1.15em;
  height: 1.15em; 
  &:focus {
    outline: max(2px, 0.15em) solid $link-color;
    outline-offset: max(0.5px, 0.15em);
  }
  &:active {
    background-color: rgba($link-color, $alpha: 0.5);
  }
  &::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    margin-bottom: 0.25em;
    margin-left: 0.25em;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em currentColor;
    transform-origin: bottom left;
    clip-path: polygon(0 59%, 31% 100%, 86% 39%, 69% 27%, 34% 68%, 16% 45%);
    }
}
input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    //Custom select

.cs-search {
    position: absolute;
    top: 0;
}