@import "../mixins";

//Icon lists
ul.icon-ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li.icon-li {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }    
}
.icon {
    width: 2.8rem;
    margin: 0 auto;
    stroke-dasharray: 132;
    stroke-dashoffset: 0;
}

//Lists
.ul-item {
    list-style: none;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
        padding: 0.25rem;
        cursor: pointer;
        border: solid 0.125rem;
        border-color: $light;
        background-color: transparent;
        transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease, ;
        &:not(:first-child) {
            margin-left: 0.7rem;
        }
        &.active, &:hover, &:focus {
            background-color: $primary;
            border-color: $secondary;
            color: $dark;
        }

        &.li-primary {
            background-color: $primary;
            border-color: $primary;
            color: $dark;

        }
        &.li-secondary {
            border: solid $primary 0.125rem;
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            &:hover {
                color: $primary;
            }
        }
    }
}

//Pagination List

.pagination-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.pagination-li, .pagination-ul .prev, .pagination-ul .next {
    border: 0.1rem solid;
    padding: 0;
    // @include themifyProp('border-color', 'borderPrimary');
//    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    &.active, &:hover {
        // @include themifyProp('background-color', 'linkHoverBg');
        // @include themifyProp('color', 'linkHoverColor');
    }
    &:not(:last-of-type) {
        margin-right: 0.25rem;
    }
    a {
        padding: 0.1rem 0.25rem;
    }
}
