.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(var(--backdrop-blur));
    transition: opacity 0.2 ease;
}
.modal.show {
    opacity: 1;
    z-index: 1000;
}
.modal.hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.modal-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-inner { 
    height: fit-content;

    transition: all 0.2s ease;
}
.modal.show .modal-inner {
    transform: translateY(0);
    opacity: 1;
}
.modal.hide .modal-inner {
    transform: translateY(-100px);
    opacity: 0;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1.2rem;

}