

.nav-wrapper {
    background-color: inherit;
    padding: $navbar-padding-y $navbar-padding-x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.collapsable {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height 0.5s ease;
    background-color: inherit;
    &-active {
        max-height: 100vh;
        
    }
}
.collapsable-nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    align-items: start;
    .links-li {
        .link span {
            display: block;
        }
    }
}
.nav-li {
    transition: 0.2s scale ease;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 0.5rem;
    }
    &:hover {
        background-color: $primary;
        scale: 1.2;
    }
}
.nav-link {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.link {
    text-decoration: none;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    &[aria-expanded="true"] {
        span {
            display: block;
        }
    }
    span {
        display: none;
        color: inherit;
    }
}
.dropdown-toggler {
    width: 2.25rem;
    height: 2.25rem;
    border: none;
    outline: 0.35rem transparent solid;
    padding: 0.25rem;
    margin: 0;
    background-color: transparent;
    transition: all 0.2s ease;
    display: block;
    fill: transparent;
    // @include themifyProp('stroke', 'colorPrimary');
    // @include themifyProp('color', 'colorPrimary');


    &:hover,&:focus, &:active {
        // @include themifyProp('background-color', 'linkHoverBg');
        // @include themifyProp('outline-color', 'borderPrimary');
        // @include themifyProp('stroke', 'linkHoverColor');
        // @include themifyProp('color', 'linkHoverColor');
    }
    &.x {
        svg {
          path#dropdown-path-1 {
                d: path('M 100 450 L 400 100');
            }
            path#dropdown-path-2 {
                d: path('M 100 279.694 L 100 280.142');
            }
            path#dropdown-path-3 {
                d: path('M 100 100 L 400 450');
            }
        }  
    }
    .svg-link {
        width: 100%;
        height: 100%;
        stroke-width: 3rem;
        path {
            transition: d 0.2s ease;
        }
        path#dropdown-path-1 {
            d: path('M 100.062 98.047 L 400 100');
        }
        path#dropdown-path-2 {
            d: path('M 99.269 246.379 L 400 250');
        }
        path#dropdown-path-3 {
            d: path('M 100.855 398.677 L 400 400');
        }
        &:hover {
        path#dropdown-path-1 {
            d: path('M 100 450 L 400 100');
        }
        path#dropdown-path-2 {
            d: path('M 100 279.694 L 100 280.142');
        }
        path#dropdown-path-3 {
            d: path('M 100 100 L 400 450');
        }
        }
    }
}

@media only screen and (min-width: 768px) {
    .collapsable {
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;
        max-height: none;
        width: fit-content;
        height: fit-content;
    }
    .collapsable-nav {
        flex-direction: row;
        align-items: center;
        .links-li {
            .link span {
                display: none;
            }
        }
    }
    .dropdown-toggler {
        display: none;
    }
}
