.projekt-karte {
    height: 330px;
    max-height: 330px;  
    overflow: hidden;   
    flex: 1 1 33%;
    position: relative;
    &-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    &-background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        filter: grayscale(50%);
    }
}