// CSS Scrollbar Selectors
// You can use the following pseudo-elements to customize various parts of the scrollbar for WebKit browsers:

// ::-webkit-scrollbar — the entire scrollbar.

// ::-webkit-scrollbar-button — the buttons on the scrollbar 
// (arrows pointing upwards and downwards that scroll one line at a time).

// ::-webkit-scrollbar:horizontal — the horizontal scrollbar.

// ::-webkit-scrollbar-thumb — the draggable scrolling handle.

// ::-webkit-scrollbar-track — the track (progress bar) of the scrollbar, 
//where there is a gray bar on top of a white bar.

// ::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.

// ::-webkit-scrollbar:vertical — the vertical scrollbar.

// ::-webkit-scrollbar-corner — the bottom corner of the scrollbar, 
//where both horizontal and vertical scrollbars meet. 
//This is often the bottom-right corner of the browser window.

// ::-webkit-resizer — the draggable resizing handle that appears at the bottom corner of some elements.

// Accessibility
/** Authors should avoid styling scrollbars, 
as changing the appearance of scrollbars away from the default breaks external consistency 
which negatively impacts usability. If styling scrollbars, 
ensure there is enough color contrast and touch targets are at least 44px wide and tall. **/

// Examples
// Styling scrollbars using -webkit-scrollbar

// .visible-scrollbar,
// .invisible-scrollbar,
// .mostly-customized-scrollbar {
//   display: block;
//   width: 10em;
//   overflow: auto;
//   height: 2em;
//   padding: 1em;
//   margin: 1em auto;
//   outline: 2px dashed cornflowerblue;
// }




/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
body::-webkit-scrollbar {
  width: 2.25px;
  height: 8px;
  // background-color: #aaaaaa; /* or add it to the track */
}

/* Add a thumb */
body::-webkit-scrollbar-thumb {
  background: black;
}


// *[data-bs-theme="light"] ::-webkit-scrollbar {
//   background-color: $light;
// }
// *[data-bs-theme="dark"] ::-webkit-scrollbar {
//   background-color: $dark;
// }
// *[data-bs-theme="light"] ::-webkit-scrollbar-thumb {
//   background-color: $dark;
// }
// *[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
//   background-color: $light;
// }

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
// FALLBACKS 
// Adding a fallback for scrollbar styles
// You can use a @supports at-rule to detect if a browser supports the standard scrollbar-color 
// and scrollbar-width properties, 
// and otherwise use a fallback with ::-webkit-scrollbar-* pseudo-elements. 
// The following example shows how to apply colors to scrollbars using scrollbar-color 
// if supported and ::-webkit-scrollbar-* pseudo-elements if not.


// /* For browsers that support `scrollbar-*` properties */
// @supports (scrollbar-color: auto) {
//   .scroll-box {
//     scrollbar-color: aquamarine cornflowerblue;
//   }
// }

// /* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
// @supports selector(::-webkit-scrollbar) {
//   .scroll-box::-webkit-scrollbar {
//     background: aquamarine;
//   }
//   .scroll-box::-webkit-scrollbar-thumb {
//     background: cornflowerblue;
//   }
// }

/* Only use `::-webkit-scrollbar-*` pseudo-elements 
Fur irgendeine Grund,*/
@supports selector(::-webkit-scrollbar) {
  body::-webkit-scrollbar {
    background: aquamarine !important;
  }
  body::-webkit-scrollbar-thumb {
    background: cornflowerblue;
  }
  section::-webkit-scrollbar {
    display: none !important;
}
}

