.sidebar-container {
    display: none;
    height: 100vh;
    position: relative;
    transition: width 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    background-color: lightpink;
    &--expanded {
        opacity: 1;
        visibility: visible;
    }
    .resizer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: auto;
        width: 2rem;
        background-color: blue;
        cursor: col-resize;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar-container {
        display: block;
        grid-column: sidebar;
    }
}