.sidebar-container {
    display: none;
    height: 100vh;
    position: relative;
    transition: width 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    background-color: lightpink;
    &--expanded {
        opacity: 1;
        visibility: visible;
    }
    .resizer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 100%;
        width: 2rem;
        background-color: blue;
        cursor: col-resize;
    }
}

.sidebar-header {
        overflow: hidden;
        width: 100%;
    }

// .sidebar-container {
//     &:not(.sidebar-container--expanded) {
//         max-width: 2rem;
//     }
// }
// .sidebar-container {
//     &:not(.sidebar-container--expanded) {
//         .sidebar-header {
//             max-width: 100%;
//         }
//     }
// }

.sidebar-toggler {
    svg {
        fill: transparent;
        stroke-width: 4rem;
        stroke: currentColor;
        path {
            fill: inherit;
            stroke: inherit;
            stroke-width: 2rem;
            transition: d 0.4s ease;
            stroke-width: inherit;
        }
        path#line1 {
            d: path("M 328.195 68.78 L 100 251.142 L 326.294 457.256");
        }
        path#line2 {
            d: path("M 300 100 L 300 424.365");
        }
    }
    &:hover {
        svg {
            path#line1 {
                d: path("M 183.244 444.96 L 401.069 259.393 L 191.024 59.163");
            }
            path#line2 {
                d: path("M 233.127 100 L 232.059 99.11");
            }
        }
    }  
}
@media only screen and (min-width: 768px) {
    .sidebar-container {
        display: block;
        grid-column: sidebar;
    }
}