//Theme-toggler
.theme-toggler {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 4.5rem ;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    border: 0.125rem solid ;
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    background-color: $dark;
    border-color: $light3;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1.8rem;
        height: 75%;
        margin: auto 0rem;
        margin-left: 0.25rem;
        border-radius: 100%;
        background-color: $light;
        transition: background-color 0.2s ease, margin-left 0.2s ease, margin-right 0.2s ease;
    }
    &.active {
        background-color: $light;
        color: $dark;
        fill: $dark;
        border-color: $dark;
        &:hover {
            fill: $warning;
        }
        &::before {
            margin-left: 2.25rem;
            background-color: $dark;
        }
    }
    &:hover {
        border-color: $primary;
        background-color: #ccc;
        fill: $blue-700;
    }
    svg {
        fill: inherit;
        transition: fill 0.2s ease;
    }
    &.dark {
        color: $dark;
        transform: rotate(180deg);
        &:hover {
            background-color: #1115;
        }
    }
}