//BRAND LOGO
.logo {
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    font-size: 1rem;
    text-decoration: none;
    gap: 0.1rem;
    span {
        font-size: 0.8em;
        align-self: end;
        font-weight: 600;
        color: inherit;
    }
    img {
        width: 2em;
    }
}

.link-regular {
    color: currentColor !important;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 0.25;
    }
}