$theme-light: (
    bgPri: $light,
    bgSec: $light,
    bgTer: $light,
    bgHover: #999,
    borderColor: $light,
    colorPri: magenta,
    colorSec: $dark,
    colorTer: $dark,
    strokePri: $dark,
    strokeSec: $dark,
    strokeTer: $dark,
);  
$theme-dark: (
    bgPri: $dark,
    bgSec: $dark,
    bgTer: $dark,
    bgHover: #555,
    borderColor: $dark,
    colorPri: $light,
    colorSec: $light,
    colorTer: $light,
    strokePri: $dark,
    strokeSec: $dark,
    strokeTer: $dark,
);  
$theme-default: (
    bgPri: $dark,
    bgSec: $dark,
    bgTer: $dark,
    bgHover: #555,
    borderColor: $dark,
    colorPri: $light,
    colorSec: $light,
    colorTer: $light,
    strokePri: $dark,
    strokeSec: $dark,
    strokeTer: $dark,
);  

$themeNames: ();
$themeValues: ();
$themeMaps: (
    'light': $theme-light,
    'dark': $theme-dark,
    'default': $theme-default,
);
