$themeLight: (
    gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)),
    body-font-family: var(font-sans-serif),
    body-font-size: 1rem,
    body-font-weight: 400,
    body-line-height: 1.25,
    body-color: $dark,
    body-color-rgb: '255, 255, 255',
    body-bg: #fff,
    body-bg-rgb: '255, 255, 255',
    emphasis-color: #000,
    emphasis-color-rgb: '0, 0, 0',
    secondary-color: rgba(255, 255, 255, 0.75),
    secondary-color-rgb: '255, 255, 255',
    secondary-bg: #e9ecef,
    secondary-bg-rgb: '233, 236, 239',
    tertiary-color: rgba(255, 255, 255, 0.5),
    tertiary-color-rgb: '255, 255, 255',
    tertiary-bg: #f8f9fa,
    tertiary-bg-rgb: '248, 249, 250',
    heading-color: inherit,
    link-color: #65ff65,
    link-color-rgb: '101, 255, 101',
    link-decoration: underline,
    link-hover-color: rgb(80.8, 204, 80.8),
    link-hover-color-rgb: '81, 204, 81',
    code-color: #d63384,
    highlight-color: #fff,
    highlight-bg: rgb(255, 242.6, 205.4),
    border-width: 1px,
    border-style: solid,
    border-color: #dee2e6,
    border-color-translucent: rgba(0, 0, 0, 0.175),
    border-radius: 0.2rem,
    border-radius-sm: 0.25rem,
    border-radius-lg: 0.5rem,
    border-radius-xl: 1rem,
    border-radius-xxl: 2rem,
    border-radius-2xl: var(border-radius-xxl),
    border-radius-pill: 50rem,
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
    box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075),
    box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175),
    box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    focus-ring-width: 0.25rem,
    focus-ring-opacity: 0.25,
    focus-ring-color: rgba(101, 255, 101, 0.25),
    form-valid-color: #00ffdd,
    form-valid-border-color: #00ffdd,
    form-invalid-color: #ff3636,
    form-invalid-border-color: #ff3636,
);