@import "../../node_modules/bootstrap/scss/variables";


//gets a color value from color map, defined in colorDefinitions
@function getColor($colorName) {
  @return map-get($colors, $colorName);
}


//helper function for checking if theme exists in theme colors
@function themeExists($key, $themeName) {
    @if map-has-key($themeValues, $key) {
        @return map-has-key(map-get($themeValues, $key), $themeName );
    } 
    @return null;
}

//helper function for getting a theme color
@function getThemeValue($key, $themeName) {
  @return map-get(map-get($themeValues, $key), $themeName);
}

