
:root {
    --sidebar-width: 250px;
    --app-content-width: calc(100% - var(var(--sidebar-width)));
    --inner-margin-right: 2rem;
    --inner-margin-left: 2rem;
    --main-content-width: calc(100% - var(--inner-margin-right) - var(--inner-margin-left));
    --header-height: 3.5rem;
    --footer-height: 100vh;
    --backdrop-blur: 0.6rem;
    --border-width: 0.25rem;  
    --bs-dropdown-item-border-radius: var(--bs-border-radius);

}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Lilex';
    // @include themeOverrideBsVariables('light', $themeLight);

}
.app-wrapper {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
}
.app-content {
    width: var(--app-content-width);
    position: relative;
    // @include themify('background-color', 'bgPri');
    // @include themify('color', 'colorPri');
}
.main-content {
    max-height: 100vh;
    overflow: hidden scroll;
    position: relative;
}
.section {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: calc(var(--header-height) + 2rem);
    overflow: scroll;
}

@media only screen and (min-width: 768px) {
    .app-wrapper {
    display: grid;
    grid-template-columns: [sidebar-start] var(--sidebar-width, 250px) [app-content-start sidebar-end] var(--app-content-width, calc(100vw - 250px)) [app-content-end];    
    transition: grid-template-columns 0.2s linear;
    &:has(.sidebar-container--expanded) {
        
    }
    }
    .app-content {
        grid-column:  app-content;
    }
    .main-content {
        scroll-snap-type: y mandatory;
        display: grid;
        grid-template-columns: [full-start] var(--margin-left-width, var(--margin-width)) [content-start] var(--content-width) [content-end] var(--margin-right-width, var(--margin-width)) [full-end];
        width: 100%;  
    }
}