$theme-colors: map-merge(("dark2":$dark2, "dark3":$dark3, "light2":$light2, "light3": $light3), $theme-colors);
$spacers: map-merge((6: $spacer * 6, 15: $spacer * 15), $spacers);

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

//Farbe utility fur alle Farben erstellen;
$utilitiesColor: ("color" : map-merge(
        map-get($utilities, "color"),
        (   
            "class": "color",
            "values": map-merge(
                map-get(map-get($utilities, "color"), "values"),
                (
                    $all-colors
                )
            )
        )
));

//Neues Wert zum Border opacity fugen hinzu;
$utilitiesBorderOpacity: ( "border-opacity": map-merge(
    $map1: map-get($utilities, "border-opacity"), 
    $map2: ( 
        "values": map-merge(
            map-get(map-get($utilities, "border-opacity"), "values"), 
            ( "80": .8)
            )
        )
));

$utilities: map-merge(
    $utilities, 
    $map2: map-merge-multiple(
        $utilitiesColor,
        $utilitiesBorderOpacity
    ));
$omega: (
    "text": (),
    "background": (),
    "border": (),
    "text-emphasis": (),
    "background-subtle": (),
    "border-subtle": (),
)