@mixin themify($theme-name, $theme-map) {
    .#{$theme-name} {
        background-color: map-get($map: $theme-map, $key: 'bg');
        color:  map-get($map: $theme-map, $key: 'color'); 
        .bg-1 {
            background-color: map-get($theme-map, 'bg1');
        }
        .bg-2 {
            background-color: map-get($theme-map, 'bg2');
        }
        .bg-3 {
            background-color: map-get($theme-map, 'bg3');
        }
        .border-color {
            border-color: map-get($map: $theme-map, $key: 'border-color');
        }
        @each $property, $value in $theme-map {
            @if (type-of($value) == 'map') {
                .#{$property} {
                    @each $sub-property, $sub-value in $value {
                        #{$sub-property}: $sub-value;
                    }
                }
            }
        }
    }
}
@import './_themes';
@import './_functions';

//Alle registrierte themen fur prop laufen.
// Hier nutze ich kein themeMap direkt.
@mixin themifyProp($prop, $key, $extra: null) {
    @each $themeName, $themeMap in $themeMappings {
        @if themeExists($key, $themeName) {
            $value: getThemeValue($key, $themeName);
            .theme-#{$themeName} & {
                #{$prop}: #{$extra} #{$value}; 
                #{$prop}: #{$extra} var(--themeConfig-#{themeName}-#{$key}, #{$value});
            }
        }
    }
}


//fur jeder prop auf themeProps, themeMap
//worher die props kommen?

@mixin initThemeValues() {
    //erstellst der neuer ThemeProperty, falls es noch nicht existiert
    @each $themeName, $themeMap in $themeMappings {
        //creates/adds to list of theme names
        $themeNames: append($themeNames, $themeName)  !global;
        @each $key, $value in $themeMap {
             @if not map-has-key($themeValues, $key) {
                $themeValues: map-merge($themeValues, ($key: ($themeName: $value))) !global;
             } @else {
                $keyMap: map-get($themeValues, $key);
                @if not map-has-key($keyMap, $themeName) {
                    $keyMap: map-merge($keyMap, ($themeName: $value));
                    $themeValues: map-merge($themeValues, ($key: $keyMap)) !global;
                }
             }
        }
    }
}

//init themeVariables

@mixin initThemeVariables() {
    @each $themeName, $themeMap in $themeMappings {

    }
}