@mixin themify($theme-name, $theme-map) {
    .#{$theme-name} {
        background-color: map-get($map: $theme-map, $key: 'bg');
        color:  map-get($map: $theme-map, $key: 'color'); 
        .bg-1 {
            background-color: map-get($theme-map, 'bg1');
        }
        .bg-2 {
            background-color: map-get($theme-map, 'bg2');
        }
        .bg-3 {
            background-color: map-get($theme-map, 'bg3');
        }
        .border-color {
            border-color: map-get($map: $theme-map, $key: 'border-color');
        }
        @each $property, $value in $theme-map {
            @if (type-of($value) == 'map') {
                .#{$property} {
                    @each $sub-property, $sub-value in $value {
                        #{$sub-property}: $sub-value;
                    }
                }
            }
        }
    }
}
