@import "./functions";
@import './themes/themes';

@mixin generateColorVariables() {
    @each $name, $value in $colors {
        --c-#{name}: #{$value};
        @debug "Color created: " #{$name};
    }
}

@mixin generateThemeValues() {
    @each $themeName, $themeMap in $themeMaps {
        //creates/adds to list of theme names
        $themeNames: append($themeNames, $themeNames, $separator: comma) !global;
        @each $key, $value in $themeMap {
            @if not map-has-key($themeValues, $key) {
                $themeValues: map-merge($themeValues, ($key: ($themeName: $value)) ) !global;
            } @else {
                $prevKeyMap: map-get($themeValues, $key);
                @if not map-has-key($prevKeyMap, $themeName) {
                    $newKeyMap: map-merge($prevKeyMap, ( $themeName: $value ) );
                    $themeValues: map-merge($themeValues, ( $key: $newKeyMap ) ) !global;
                }
                @debug "theme created: " #{$name};
            }
        };
    }
}

@mixin generateThemeVariables() {
    @each $key, $keyMap in $themeValues {
        @each $themeName, $value in $keyMap {
            --theme-#{$key}-#{$themeName}: $value;
        }
    }
}

@mixin themify($property, $key) {
    @each $themeName, $themeMap in $themeMaps {
        @if themeExists($key, $themeName) {
            $value: getThemeValue($key, $themeName);
            @at-root .#{$theme} #{&} {
                #{$property}: $value;
                #{$property}: var(--theme-#{$key}-#{$themeName}, $value);
            }
        } @else if $theme != 'default' and $theme != 'light' and $theme != 'dark' { 
            //check for legacy references, don't error on those
            @error "Property #{$key} doesn't exist in #{$theme}";
        }
    }
}

