$theme-light: (
    bg1: $light,
    bg2: $light2,
    bg3: $light3,
    border: $dark3,
    color: $dark,
    projekt-karte: (
        border: 0.2rem solid $light3,
        background-color: $light2,
        box-shadow: 0 0 10px $light
    ),
    box: (
        border-color: $light,
        background-color: $light2,
    ),
    header: (
        background-color: rgba($rgb-light, 0.8),
        border-bottom: 0.1rem solid $light3,
        box-shadow: 0 0 10px $light,
        fill: $dark,
        stroke: $dark
    )
);
$theme-dark: (
    bg1: $dark,
    bg2: $dark2,
    bg3: $dark3,
    border-color: $dark3,
    color: $light,
    projekt-karte: (
        border: 0.2rem solid $dark3,
        background-color: $dark2,
        box-shadow: 0 0 10px $dark
    ),
    box: (
        border-color: $dark,
        background-color: $dark2,
    ),
    header: (
        background-color: rgba($rgb-dark, 0.8),
        border-bottom: 0.2rem solid $dark3,
        box-shadow: 0 0 10px $dark,
        fill: $light,
        stroke: $light
    )
);  

//Themen fur die Nutzung von themifyProp
$tLight: (
    bgPrimary: $light,
    bgSecondary: $gray-200,
    borderPrimary: $green-400,
    borderSecondary: $green-300,
    colorPrimary: $green-800,
    colorSecondary: $blue-400,
    linkHoverBgPrimary: $info,
    linkHoverColorPrimary: $green,
    linkHoverBgSecondary: $green,
    linkHoverColorSecondary: $info,

);  

$tDark: (
    bgPrimary: $dark,
    bgSecondary: $gray-900,
    borderPrimary: $green,
    borderSecondary: $orange-400,
    colorPrimary: $light,
    colorSecondary: $green-400,
    linkHoverBgPrimary: $info,
    linkHoverColorPrimary: $green,
    linkHoverBgSecondary: $green,
    linkHoverColorSecondary: $info,

);  

//Alle themeValue generieren
$themeNames: ();
$themeValues: ();
$themeMappings: ('light': $tLight, 'dark': $tDark);

