$theme-light: (
    bg: $light,
    bg2: $light2,
    bg3: $light3,
    border: $dark3,
    color: $dark,
    projekt-karte: (
        border: 0.2rem solid $light3,
        background-color: $light2,
        box-shadow: 0 0 10px $light
    ),
    box: (
        border-color: $light,
        background-color: $light2,
    ),
    header: (
        background-color: rgba($rgb-light, 0.8),
        border-bottom: 0.1rem solid $light3,
        box-shadow: 0 0 10px $light,
        fill: $dark,
        stroke: $dark
    )
);
$theme-dark: (
    bg: $dark,
    bg2: $dark2,
    bg3: $dark3,
    border-color: $dark3,
    color: $light,
    projekt-karte: (
        border: 0.2rem solid $dark3,
        background-color: $dark2,
        box-shadow: 0 0 10px $dark
    ),
    box: (
        border-color: $dark,
        background-color: $dark2,
    ),
    header: (
        background-color: rgba($rgb-dark, 0.8),
        border-bottom: 0.2rem solid $dark3,
        box-shadow: 0 0 10px $dark,
        fill: $light,
        stroke: $light
    )
);  

