$theme-dark: (
    bg: $dark,
    bg2: $dark2,
    bg3: $dark3,
    border: $dark3,
    color: $light,
    bg-1-hover-opacity-1: rgba($rgb-dark, 0.5),
    "header": (
        bg: transparent,
        fill: $light,
        stroke: $light
    )
);
$theme-light: (
    bg: $light,
    bg2: $light2,
    bg3: $light3,
    border: $dark3,
    color: $dark,
    bg-1-hover-opacity-1: rgba($rgb-light3, 0.8),
    "header": (
        bg: rgba($rgb-light3, 0.8),
        fill: $green-800,
        stroke: $green-800
    )
);



