.themed-border {
    @include themify('border', 'colorPri');
    transition: border var(--link-transition-duration) ease;
}
.themed-color {
    @include themify('color', 'colorPri');
    transition: color var(--link-transition-duration) ease;
}
.themed-fill {
    @include themify('fill', 'colorPri');
    transition: fill var(--link-transition-duration) ease;
}
.themed-stroke {
    @include themify('stroke', 'colorPri');
    transition: stroke var(--link-transition-duration) ease;
}

.no-scroll {
    overflow: hidden !important;
}
.scroll-snap-wrapper {
    overflow: hidden scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.scroll-snap-child {
    scroll-snap-align: start;
}
.scroll-snap-stop {
    scroll-snap-stop: always;
}
.show {
    opacity: 1 !important;
    visibility: visible !important;
}
.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.opacity-1 {
    opacity: 1 !important;
}
.visible {
    visibility: 1 !important;
}
.translateY-0 {
    transform: translateY(0) !important;
}
.border-top-primary {
    border-top: 0.125rem $primary solid !important;;
}
.border-bottom-primary {
    border-bottom: 0.125rem $primary solid !important;
}

.border-width-2 {
    border-width: 0.5rem !important;
}
.h-500 {
    height: 500px;
}
.h-fit {
    max-height: fit-content !important;
}
.h-0 {
    max-height: 0 !important;
}
.transition-visibility {
    transition: visibility 0.2s ease;
}
.transition-height {
    transition: max-height 0.2s ease;
}

.list-style-none {
    list-style: none !important;
}
.li-margin-vertical {
    &:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}
.li-margin-horizontal {
    &:not(:last-child) {
        margin-right: 0.25rem;
    }
}
.h1 {
    font-size: 3.15rem;
    line-height: 0.8;
}
.h2 {
    font-size: 2.85rem;
    line-height: 0.8;
}
.h5 {
    font-size: 1.4rem;
    line-height: 0.8;
    overflow: hidden;
}
.p {
    font-size: 1.5rem;
    line-height: 0.9;
}
.split {
    display: block;
    overflow: hidden;
}
.text-epic {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mh-60 {
    max-height: 60%;
}
.h-60 {
    height: 60%;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.7rem;
}
.gap-3 {
    gap: 1.5rem;
}
.border-1 {
    border: solid 0.125rem;
}
.is-bottom {
    margin-bottom: -1rem;
}
.order-0 {
    order: 0;
}
.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.h-1 {
    height: 1rem;
}
.h-2 {
    height: 2rem;
}
.h-3 {
    height: 3rem;
}
.h-4 {
    height: 4rem;
}
.h-5 {
    height: 5rem;
}
.h-6 {
    height: 6rem;
}
.h-100vh {
    height: 100vh !important;
    min-height: 100vh;
}
.w-1 {
    width: 1rem;
}
.w-135 {
    width: 1.35rem;
}
.w-2 {
    width: 2rem;
}
.w-25 {
    width: 2.5rem;
}
.w-3 {
    width: 3rem;
}
.w-4 {
    width: 4rem;
}
.w-5 {
    width: 5rem;
}
.w-6 {
    width: 6rem;
}
.w-fit {
    width: fit-content;
}
.h-135 {
    height: 1.35rem;
}
.rotate-90 {
    rotate: 90deg;
}
.h-150 {
    height: 100px;
}
.h-150 {
    height: 150px;
}
.h-500 {
    height: 500px;
}
.top-0 {
    top: 0;
}
.top-05 {
    top: 0.5rem;
}
.top-1 {
    top: 1rem;
}
.top-2 {
    top: 2rem;
}
.right-0 {
    right: 0.5rem;
}
.right-1 {
    right: 1rem;
}
.left-0 {
    left: 0.5rem;
}
.left-1 {
    left: 1rem;
}
.left-125 {
    left: 1.25rem;
}
.left-2 {
    left: 2rem;
}
.left-225 {
    left: 2.25rem;
}
.left-25 {
    left: 2.5rem;
}
.bottom-0 {
    bottom: 0.5rem;
}
.bottom-1 {
    bottom: 1rem;
}
index-1 {
    z-index: 1;
}
.index-2 {
    z-index: 2;
}
.w-80 {
    width: 80%;
}
.basis-50 {
    flex-basis: 50%;
}
.basis-100 {
    flex-basis: 100%;
}
.grow-1 {
    flex-grow: 1;
}
.shrink-1 {
    flex-shrink: 1;
}
.text-shadow-1 {
    text-shadow: 0px 0px 15px $dark, 0px 0px 10px $dark, 0px 0px 5px $dark;
}
.drop-shadow-1 {
    filter: drop-shadow(0px 0px 8px $dark) drop-shadow(0px 0px 5px $dark);
}
.fs-7 {
    font-size: 0.75rem !important;
}
.fs-small {
    font-size: 0.5rem !important;
}
.fs-big {
    font-size: 6.75rem !important;
}
.h-70vw {
    height: 70vw;
}
.bg-1 {
    background-color: rgba(var(--rgb-primary), 1);
}
.bg-2 {
    background-color: $dark2;
}
.bg-3 {
    background-color: $dark3;
}
.bg-1-opacity-1 {
    background-color: rgba($rgb-dark, 1);
}
.bg-1-hover-opacity-1 {
    background-color: rgba($rgb-dark, 0.5);
    transition: background-color 0.2s ease;
    &:hover {
        background-color: rgba($rgb-dark, 1);
    }
}
.bg-1-opacity-5 {
    background-color: $dark;
}
.bg-000 {
    background-color: #000;
}
.color-inherit {
    color: inherit;
}
.color-light {
    color: $light !important;
}
.z-index-2 {
    z-index: 2;
}
.over-primary {
    &:hover {
        color: $primary;
    }
}
.over-secondary {
    &:hover {
        color: $secondary;
    }
}
.over-danger {
    &:hover {
        color: $danger;
    }
}
.in-front {
    transform: rotate3d(0,1,0,0deg);
    backface-visibility: hidden;
}
.in-back {
    transform: rotate3d(0,1,0,180deg);
    backface-visibility: hidden;
}
.w-2 {
    width: 2rem;
}
.w-4 {
    width: 4rem;
}
.color-danger {
    color: $danger !important; 
}
.shake {
    animation: shake 0.2s 2 ease-in;
}
.border-hover-25 {
    &:hover {
        --bs-border-opacity: 0.25;

    }
}

