@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./custom_variables";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

$theme-colors: map-merge(("dark2":$dark2, "dark3":$dark3, "light2":$light2, "light3": $light3), $theme-colors);
$spacers: map-merge((6: $spacer * 6, 15: $spacer * 15), $spacers);

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";


// 9. themes init and setup
//utils & functions
@import "./utils";
@import "./functions";

//themes
@import "./themes";

// //mixins
@import "./mixins";


// @import "./keyframes";


//Code
//Default Farben, wenn kein Theme ausgewahlt ist 
@include initThemeValues;
@include initThemeVariables;



:root {
    --header-height: 4rem;
    --footer-height: 100vh;
    --backdrop-blur: 0.6rem;
    --border-width: 0.25rem;
    
}
html {
    font-size: 16px;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'HerculesPixel', sans-serif;
}
.app-wrapper {
    height: 100vh;
    display: block;
    height: 100vh;
    @include themifyProp('background-color', 'bgPrimary');
    @include themifyProp('color', 'colorPrimary');
}
main {
    width: 100vw;
    max-height: 100vh;
    overflow: scroll;
}
.scroll-snap {
    overflow: hidden scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.scroll-stop {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
section {
    width: 100%;
    height: 100vh;
    padding-top: var(--header-height);
    scroll-snap-align: start;
}
p {
    font-weight: 300; 
    font-size: 0.8rem;
}

.scrolled {
    transform: translateY(-2.780rem) !important;
}


.btn-outline {
    background-color: transparent !important;
    border-width: 0.225rem;
    color: $primary;
    &:hover {
        background-color: tint-color($primary, 30) !important;
    }
}

.link {
    cursor: pointer;
    transition: color 0.2s ease;
    color: inherit;
}
.svg-link {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: stroke 0.2s ease, fill 0.2s ease;
    color: inherit;
    stroke: inherit;
    fill: inherit;
}



// Das Personliches Scrollbar 
::-webkit-scrollbar {
    width: 0.5rem;
    border: 5px solid $dark;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: red;
    border: 0.05rem solid #222;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
        background-color: $dark3;
    }
  }
  
  ::-webkit-scrollbar-track {
    background-color: $dark2;
    cursor: pointer;

  }
  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
    display: block;
    height: 2rem;
    width: 2.5rem;
    background: $dark2;
    cursor: pointer;
  }
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 0.8rem 0.8rem 0.8rem;
    border-color: transparent transparent #222 transparent;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #555 transparent;
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #222 transparent transparent transparent;
  }
  
  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #555 transparent transparent transparent;
  }
// ::-webkit-scrollbar the scrollbar.
// ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
// ::-webkit-scrollbar-thumb the draggable scrolling handle.
// ::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
// ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
// ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
// ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.


//Widgets


.nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 0.35rem;
        border-radius: 5px;
        transition: background-color 0.2s ease;
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
        &:hover {
            background-color: #999;
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            &[aria-expanded="true"] {
                span {
                    display: block;
                }
            }
            span {
                display: none;
                color: inherit;
            }
        }
    }
}

.link {
    transition: color 0.4s;
    color: inherit;
    &:hover {
        @include themifyProp('color', 'linkHoverColorPrimary');
    }
}
.avatar {
    position: relative;
    display: flex;
    justify-content: start;
    align-items:start;
    text-decoration: none;
    font-weight: bold;
    span {
        padding-top: 0.2rem;
        font-size: 0.8rem;
        margin-left: 0.35rem;
    }
    img {
        border: 0.15rem $primary solid;
        border-radius: 50%;
        padding: 0.05rem;
        width: 100%;
        transition: background-color 0.4s;
        max-width: 2.5rem;
        &:hover {
            background-color: #555;
        }
    }
    &--vertical {
        flex-direction: column !important;
        justify-content: center;
    }
}

.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    //Bottom Linear gradient
    &::after {
        content: "";
        position: absolute;
        height: 20%;
        width: 100%;
        background: linear-gradient(to top, #111, transparent);
        bottom: 0;
    }
}
.box {
    border: solid var(--border-width);
    @include themifyProp('background-color', 'bgTertiary');
    @include themifyProp('border-color', 'borderPrimary');
}
.box-secondary {
    @include themifyProp('background-color', 'bgTertiary');
    @include themifyProp('border-color', 'borderSecondary');
}

.box-flex {
    display: flex;
    flex-direction: column;
}
.box-header {
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.25rem;
    max-height: 2.25rem;
    flex-grow: 1;
    flex-basis: 100%;
}
.box-content {
    flex: 1 1 100%;
    position: relative;
    overflow: hidden scroll;
}




.section-nav {
    position: fixed;
    right: 3rem;
    bottom: 1rem;
}
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS
// MEDIA QUERYS MEDIA QUERYSMEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS MEDIA QUERYS

@media only screen and (min-width: 576px) {
    
}

// 10. components

@import "./components/header";
@import "./components/home";
@import "./components/footer";
@import "./components/nav";
@import "./components/inputs";
@import "./components/lists";
@import "./components/modals";
@import "./components/widgets";
@import "./components/markdown";
@import "./components/drum";

