// NICHT DEFAULT VARIABELN KOMMENTIERT SIND

$enable-gradients: false;
$enable-dark-mode: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

$custom-tint-amount: 0.55%;

$btn-box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
// scss-docs-start focus-ring-variables
$focus-ring-x: 3px;
$focus-ring-y: 5px;
$focus-ring-blur: 0 !default;


$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$black: #000;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #fff366;
$danger: #ff3636;
$light: #e7e7e7;
$dark: #04212d;
$primary-rgb: 101, 255, 101;
$secondary-rgb: 219, 219, 219;
$success-rgb: 0, 255, 221;
$info-rgb: 13, 202, 240;
$warning-rgb: 255, 243, 102;
$danger-rgb: 255, 54, 54;
$light-rgb: 231, 231, 231;
$dark-rgb: 4, 33, 45;
$primary-text-emphasis: rgb(40.4, 102, 40.4);
$secondary-text-emphasis: rgb(87.6, 87.6, 87.6);
$success-text-emphasis: rgb(0, 102, 88.4);
$info-text-emphasis: rgb(5.2, 80.8, 96);
$warning-text-emphasis: rgb(102, 97.2, 40.8);
$danger-text-emphasis: rgb(102, 21.6, 21.6);
$light-text-emphasis: #495057;
$dark-text-emphasis: #495057;
$primary-bg-subtle: rgb(224.2, 255, 224.2);
$secondary-bg-subtle: rgb(247.8, 247.8, 247.8);
$success-bg-subtle: rgb(204, 255, 248.2);
$info-bg-subtle: rgb(206.6, 244.4, 252);
$warning-bg-subtle: rgb(255, 252.6, 224.4);
$danger-bg-subtle: rgb(255, 214.8, 214.8);
$light-bg-subtle: rgb(251.5, 252, 252.5);
$dark-bg-subtle: #ced4da;
$primary-border-subtle: rgb(193.4, 255, 193.4);
$secondary-border-subtle: rgb(240.6, 240.6, 240.6);
$success-border-subtle: rgb(153, 255, 241.4);
$info-border-subtle: rgb(158.2, 233.8, 249);
$warning-border-subtle: rgb(255, 250.2, 193.8);
$danger-border-subtle: rgb(255, 174.6, 174.6);
$light-border-subtle: #e9ecef;
$dark-border-subtle: #adb5bd;
$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 0;
$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$body-font-family: var(--bs-font-sans-serif);
// $body-font-size: 1rem;
// $body-font-weight: 400;
// $body-line-height: 1.5;
$body-color: $gray-900;
// $body-color-rgb: 158, 83, 83;
$body-bg: $gray-100;
// $body-bg-rgb: 255, 255, 255;
$emphasis-color: #000;
// $emphasis-color-rgb: 0, 0, 0;
// $secondary-color: rgba(158, 83, 83, 0.75);
// $secondary-color-rgb: 158, 83, 83;
// $secondary-bg: #e9ecef;
// $secondary-bg-rgb: 233, 236, 239;
// $tertiary-color: rgba(158, 83, 83, 0.5);
// $tertiary-color-rgb: 158, 83, 83;
// $tertiary-bg: #f8f9fa;
// $tertiary-bg-rgb: 248, 249, 250;
$heading-color: inherit;
// $link-color: $primary;
// $link-color-rgb: 101, 255, 101;
$link-decoration: underline;
$link-hover-color-rgb: 81, 204, 81;
$code-color: #d63384;
$highlight-color: #9e5353;
$highlight-bg: rgb(255, 242.6, 205.4);
$border-width: 1px;
$border-style: solid;
$border-color: #dee2e6;
$border-color-translucent: rgba(0, 0, 0, 0.175);
$border-radius: 0.2rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-2xl: var(--bs-border-radius-xxl);
$border-radius-pill: 50rem;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
$focus-ring-width: 0.25rem;
$focus-ring-opacity: 0.25;
$focus-ring-color: rgba(101, 255, 101, 0.25);
$form-valid-color: #00ffdd;
$form-valid-border-color: #00ffdd;
$form-invalid-color: #ff3636;
$form-invalid-border-color: #ff3636;
$link-transition-duration: 0.2s;

$dark: #04212d;
$dark2: #053142;
$dark3: #0b4c67;
$light: #e7e7e7;
$light2: #dadada;
$light3: #bebebe;
$rgb-dark: rgb(33, 19, 13);
$rgb-dark2: to-rgb($dark2);

$btn-hover-bg-tint-amount: 75%;
$btn-active-bg-tint-amount: 20%;
$btn-hover-bg-shade-amount: 75%;
$btn-active-bg-shade-amount: 20%;
$border-radius: 0.2rem;

