$enable-gradients: false;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

$body-color: #fff;
$link-transition-duration: 0.2s;
$primary: #65ff65;
$secondary: #dbdbdb;
$success: #00ffdd;
$danger: #ff3636;
$warning: #fff366;
$dark: #04212d;
$dark2: #053142;
$dark3: #0b4c67;
$light: #e7e7e7;
$light2: #dadada;
$light3: #bebebe;
$rgb-dark: rgb(33, 19, 13);
$rgb-dark2: rgb(5, 49, 66);
$rgb-dark3: rgb(11, 76, 103);
$rgb-light: rgb(231, 231, 231);
$rgb-light2: rgb(218, 218, 218);
$rgb-light3: rgb(190, 190, 190);

$btn-hover-bg-tint-amount: 75%;
$btn-active-bg-tint-amount: 20%;
$btn-hover-bg-shade-amount: 75%;
$btn-active-bg-shade-amount: 20%;
$border-radius: 0.2rem;

$h1-font-size: 3.35rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$h4-font-size: 1.7rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$btn-padding-x: .35rem;
$btn-padding-y: 0.25rem;
$btn-font-size: 0.75rem;

:root {
    --sidebar-width: 250px;
    --app-content-width: calc(100% - var(var(--sidebar-width)));
    --inner-margin-right: 2rem;
    --inner-margin-left: 2rem;
    --main-content-width: calc(100% - var(--inner-margin-right) - var(--inner-margin-left));
    --header-height: 3.5rem;
    --footer-height: 100vh;
    --backdrop-blur: 0.6rem;
    --border-width: 0.25rem;  
    --bs-dropdown-item-border-radius: var(--bs-border-radius);
}